variables:
  DEFAULT_IMAGE: "eclipse-temurin:21-jdk-alpine"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - .gradle/caches/
    - .gradle/wrapper/

stages:
  - build
  - test

build:
  stage: build
  image: $DEFAULT_IMAGE
  script:
    - ./gradlew clean build --no-daemon
  artifacts:
    paths:
      - build/libs/*.jar

test:
  stage: test
  image: $DEFAULT_IMAGE
  script:
    - ./gradlew clean test --no-daemon
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/*.xml

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml