variables:
  DEFAULT_IMAGE: "eclipse-temurin:21-jdk-alpine"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  DOCKER_IMAGE: "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  DS_JAVA_PROJECT_PATH: "$CI_PROJECT_DIR"
  DS_REPORT_FORMAT: "JSON,HTML"

stages:
  - build
  - test
  - package

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .gradle/caches/
    - .gradle/wrapper/

build:
  stage: build
  image: $DEFAULT_IMAGE
  script:
    - chmod +x ./gradlew
    - ./gradlew clean build --no-daemon
  artifacts:
    paths:
      - build/libs/*.jar
  services:
    - name: docker:27-dind
  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main"'

test:
  stage: test
  image: $DEFAULT_IMAGE
  script:
    - chmod +x ./gradlew
    - ./gradlew clean test --no-daemon
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/*.xml
  services:
    - name: docker:27-dind
  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main"'

package:
  stage: package
  image: docker:24.0.5
  services:
    - name: docker:27-dind
  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "Building Docker image..."
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - |
      TAG=$CI_COMMIT_REF_SLUG
      if [[ -n "$CI_COMMIT_TAG" ]]; then
        TAG=$CI_COMMIT_TAG
      fi
    - docker build
      --build-arg CI_COMMIT_SHA="$CI_COMMIT_SHA"
      --build-arg CI_PIPELINE_CREATED_AT="$CI_PIPELINE_CREATED_AT"
      --build-arg CI_COMMIT_REF_NAME="$CI_COMMIT_REF_NAME"
      --build-arg CI_COMMIT_TAG="$CI_COMMIT_TAG"
      --build-arg CI_PIPELINE_ID="$CI_PIPELINE_ID"
      -t $CI_REGISTRY_IMAGE:$TAG .
    - docker push $CI_REGISTRY_IMAGE:$TAG
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_TAG'

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

dependency_scanning:
  before_script:
    - chmod +x ./gradlew