variables:
  SRC_USER_CHATBOT: "AI-chatbot"
  SRC_PASS_CHATBOT: "gldt-tF2YNLBsL9zUYs4yyxLX"
  DST_USER_CHATBOT: "chatbot"
  DST_PASS_CHATBOT: "gldt-bkW4MZVKKnsx5AZR9d8L"
  SRC_USER_PLAYER: "gitlab+deploy-token-10124372"
  SRC_PASS_PLAYER: "gldt-RafBVsqNjUAyyn8o9CmK"
  DST_USER_PLAYER: "chatbot"
  DST_PASS_PLAYER: "gldt-bkW4MZVKKnsx5AZR9d8L"

stages:
  - mirror-chatbot
  - mirror-player

mirror_image_chatbot:
  stage: mirror-chatbot
  image: docker:26

  services:
    - docker:26-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    # login to source project
    - docker login registry.gitlab.com -u "$SRC_USER_CHATBOT" -p "$SRC_PASS_CHATBOT"

    # pull source image
    - docker pull registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team3/ai-chatbot:latest

    # login to destination project
    - docker login registry.gitlab.com -u "$DST_USER_CHATBOT" -p "$DST_PASS_CHATBOT"
  
    # retag + push
    - docker tag registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team3/ai-chatbot:latest registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/local-development/chatbot:latest

    - docker push registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/local-development/chatbot:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main"'

mirror_image_player:
  stage: mirror-player
  image: docker:26

  services:
    - docker:26-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    # login to source project
    - docker login registry.gitlab.com -u "$SRC_USER_PLAYER" -p "$SRC_PASS_PLAYER"

    # pull source image
    - docker pull registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team3/ai-player:latest

    # login to destination project
    - docker login registry.gitlab.com -u "$DST_USER_PLAYER" -p "$DST_PASS_PLAYER"
  
    # retag + push
    - docker tag registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team3/ai-player:latest registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/local-development/player:latest

    - docker push registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/local-development/player:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main"'
