[submodule "platform/platform-frontend"]
	path = platform/platform-frontend
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/platform-frontend.git
[submodule "platform/user-service"]
	path = platform/user-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/user-service.git
[submodule "platform/session-service"]
	path = platform/session-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/session-service.git
[submodule "platform/communication-service"]
	path = platform/communication-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/communication-service.git
[submodule "platform/social-service"]
	path = platform/social-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/social-service.git
[submodule "platform/store-service"]
	path = platform/store-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/store-service.git
[submodule "platform/games-service"]
	path = platform/games-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/games-service.git
[submodule "games/tic-tac-toe-service"]
	path = games/tic-tac-toe-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-service.git
[submodule "games/tic-tac-toe-frontend"]
	path = games/tic-tac-toe-frontend
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-frontend.git
[submodule "games/checkers-service"]
	path = games/checkers-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/checkers-service.git
[submodule "games/checkers-frontend"]
	path = games/checkers-frontend
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/checkers-frontend.git
[submodule "shared/game-acl-service"]
	path = shared/game-acl-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/game-acl-service.git
[submodule "shared/socket-service"]
	path = shared/socket-service
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/socket-service.git
[submodule "infra/local-development"]
	path = infra/local-development
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/local-development.git
[submodule "docs"]
	path = docs
	url = https://gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/docs.git
