name: moko_prod_local

services:
  # Proxy
  proxy:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./configs/proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - moko_frontend
      - moko_backend
      - moko_kc
    depends_on:
      - frontend-platform
      - frontend-tic-tac-toe
      - service-user
      - service-session
      - service-social
      - service-tic-tac-toe
      - idp-keycloak
      - service-games

  # Frontend
  frontend-platform:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/platform-frontend:main-latest
    restart: always
    pull_policy: always
    environment:
      VITE_AUTH_URL: http://localhost/auth
      VITE_AUTH_REALM: moko
      VITE_AUTH_CLIENT: platform-frontend

      VITE_USER_SERVICE: http://localhost/user-service/api/profiles
      VITE_ACHIEVEMENT_SERVICE: http://localhost/user-service/api/achievements
      VITE_LIBRARY_SERVICE: http://localhost/user-service/api/library
      VITE_SOCIAL_SERVICE: http://localhost/social-service/api/friends
      VITE_SESSION_SERVICE: http://localhost/session-service/api/lobbies
      VITE_GAMES_SERVICE: http://localhost/games-service/api/games
      VITE_STORE_SERVICE: http://localhost/store-service/api/store/games
      VITE_ORDER_SERVICE: http://localhost/store-service/api/orders
      VITE_CART_SERVICE: http://localhost/store-service/api/cart

      VITE_SESSION_SOCKET: http://localhost/session-service
    expose:
      - "80"
    networks:
      - moko_frontend

  frontend-tic-tac-toe:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-frontend:main-latest
    restart: always
    pull_policy: always
    environment:
      VITE_AUTH_URL: http://localhost/auth
      VITE_AUTH_REALM: moko
      VITE_AUTH_CLIENT: tic-tac-toe-frontend

      VITE_TIC_TAC_TOE_SERVICE: http://localhost/tic-tac-toe-service/api/games
      VITE_USER_SERVICE: http://localhost/user-service/api/profiles
    expose:
      - "80"
    networks:
      - moko_frontend

  frontend-checkers:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/checkers-frontend:main-latest
    restart: always
    pull_policy: always
    environment:
      VITE_AUTH_URL: http://localhost/auth
      VITE_AUTH_REALM: moko
      VITE_AUTH_CLIENT: checkers-frontend

      VITE_CHECKERS_SERVICE: http://localhost/checkers/api/games
      VITE_USER_SERVICE: http://localhost/user-service/api/profiles
    expose:
      - "80"
    networks:
      - moko_frontend

  # Backend Services
  service-user:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/user-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=user_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      CORS_ALLOWED_ORIGINS: http://localhost
      GAME_SERVICE_URL: http://service-games:8084
      CHAT_SERVICE_URL: http://service-communication:8082
    expose:
      - "8080"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8080/actuator/health" ]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-session:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/session-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=session_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      CORS_ALLOWED_ORIGINS: http://localhost
      USER_SERVICE_URL: http://service-user:8080
      CHAT_SERVICE_URL: http://service-communication:8082
      SOCIAL_SERVICE_URL: http://service-social:8083
      GAME_SERVICE_URL: http://service-games:8084
    expose:
      - "8081"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8081/actuator/health" ]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-communication:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/communication-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=communication_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      SESSION_SERVICE_URL: http://service-session:8081
      USER_SERVICE_URL: http://service-user:8080
      SOCIAL_SERVICE_URL: http://service-social:8083

      SPRING_MAIL_USERNAME: mokogamesbe@gmail.com
      SPRING_MAIL_PASSWORD: alofzkyfupctrpmw

      CORS_ALLOWED_ORIGINS: http://localhost
    expose:
      - "8082"
    healthcheck:
       test: [ "CMD", "wget", "-qO-", "http://localhost:8083/actuator/health" ]
       interval: 1m
       timeout: 15s
       retries: 5
       start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-social:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/social-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=social_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      CORS_ALLOWED_ORIGINS: http://localhost
      USER_SERVICE_URL: http://service-user:8080
    expose:
      - "8083"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8083/actuator/health" ]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-games:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/games-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=games_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      STORE_SERVICE_URL: http://service-store:8085

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs
    expose:
      - "8084"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8084/actuator/health" ]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-store:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/store-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=store_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs
      CORS_ALLOWED_ORIGINS: http://localhost

      MOLLIE_API_KEY: test_m7sCMkpbCxQ7hAjqKWc2C3v3pBNfKW
      FRONTEND_URL: http://localhost

      USER_SERVICE_URL: http://service-user:8080
      GAME_SERVICE_URL: http://service-games:8084
      CHAT_SERVICE_URL: http://service-communication:8082
    expose:
      - "8085"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8085/actuator/health" ]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-tic-tac-toe:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATA_REDIS_HOST: app-redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_DATA_REDIS_DATABASE: 0
      SPRING_DATA_REDIS_PASSWORD: password

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      CORS_ALLOWED_ORIGINS: http://localhost

      GAME_SERVICE_URL: http://service-games:8084
      AI_URL: https://team3.techtitans.be

      GAME_BACKEND_URL: http://service-tic-tac-toe:8086
      GAME_FRONTEND_URL: http://localhost/tic-tac-toe/game
    expose:
      - "8086"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8086/actuator/health"]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-rabbitmq
      - app-redis
      - idp-keycloak

  service-checkers:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/checkers-service:main-latest
    restart: always
    pull_policy: always
    environment:
      SPRING_DATA_REDIS_HOST: app-redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_DATA_REDIS_DATABASE: 0
      SPRING_DATA_REDIS_PASSWORD: password

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      CORS_ALLOWED_ORIGINS: http://localhost

      GAME_SERVICE_URL: http://service-games:8084
      AI_URL: https://team3.techtitans.be

      GAME_BACKEND_URL: http://service-checkers:8087
      GAME_FRONTEND_URL: http://localhost/checkers/game
    expose:
      - "8087"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8087/actuator/health" ]
      interval: 1m
      timeout: 15s
      retries: 5
      start_period: 5m
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-rabbitmq
      - app-redis
      - idp-keycloak

  # Backend apps
  app-postgres:
    image: postgres:17.7-alpine
    restart: always
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'moko'
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5443:5432"
    networks:
      - moko_backend
    volumes:
      - moko_postgres_data:/var/lib/postgresql/data
      - ./configs/sql:/docker-entrypoint-initdb.d/

  app-rabbitmq:
    image: rabbitmq:4.2-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    ports:
      - "6379:6379"
    networks:
      - moko_backend
    volumes:
      - moko_rabbitmq_all:/var/lib/rabbitmq/
      - moko_rabbitmq_all:/var/log/rabbitmq/

  app-redis:
    image: redis:8.4.0-alpine
    command:
      - redis-server
      - --requirepass password
    networks:
      - moko_backend
    volumes:
      - moko_redis_all:/data

  # Backend IDP
  idp-mysql:
    image: mysql:9.5
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'keycloak'
      MYSQL_USER: 'keycloak'
      MYSQL_PASSWORD: 'password'
    volumes:
      - moko_mysql_data:/var/lib/mysql
    networks:
      - moko_kc

  idp-keycloak:
    image: quay.io/keycloak/keycloak:26.4
    restart: always
    environment:
      KC_HOSTNAME: localhost
      KC_HTTP_RELATIVE_PATH: /auth
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME_STRICT: "true"
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: 8080

      KC_BOOTSTRAP_ADMIN_USERNAME: 'admin'
      KC_BOOTSTRAP_ADMIN_PASSWORD: 'admin'

      KC_DB: 'mysql'
      KC_DB_URL_HOST: 'idp-mysql'
      KC_DB_URL_DATABASE: 'keycloak'
      KC_DB_USERNAME: 'keycloak'
      KC_DB_PASSWORD: 'password'
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./configs/keycloak-import:/opt/keycloak/data/import
    expose:
      - "8080"
    depends_on:
      - idp-mysql
    networks:
      - moko_kc

volumes:
  moko_postgres_data:
  moko_redis_all:
  moko_rabbitmq_all:
  moko_mysql_data:

networks:
  moko_kc:
    name: moko-kc-network
    driver: bridge
  moko_backend:
    name: moko-back-network
    driver: bridge
  moko_frontend:
    name: moko-front-network
    driver: bridge