name: moko_prod_local

services:
  # Proxy
  proxy:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./configs/proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - moko_frontend
      - moko_backend
      - moko_kc
    depends_on:
      - frontend-platform
      - service-user
      - service-session
      - service-social
      - service-tic-tac-toe
      - idp-keycloak

  # Frontend
  frontend-platform:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/platform-frontend:branch-env-var-injection
    restart: always
    environment:
      VITE_AUTH_URL: http://localhost/auth
      VITE_AUTH_REALM: moko
      VITE_AUTH_CLIENT: platform-frontend

      VITE_USER_SERVICE: http://localhost/user-service/api/profiles
      VITE_LIBRARY_SERVICE: http://localhost/user-service/api/library
      VITE_SOCIAL_SERVICE: http://localhost/social-service/api/friends
    expose:
      - "80"
    networks:
      - moko_frontend

  #  tic-tac-toe-platform:
  #    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-frontend:main-latest
  #    restart: always
  #    expose:
  #      - "80"
  #    networks:
  #      - moko_frontend

  #  checkers-platform:
  #    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/checkers-frontend:main-latest
  #    restart: always
  #    expose:
  #      - "80"
  #    networks:
  #      - moko_frontend

  # Backend Services
  service-user:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/user-service:branch-possible-docker-compose-fix
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=user_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs
    expose:
      - "8080"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  service-session:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/session-service:main-latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=session_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs

      USER_SERVICE_URL: http://user-service:8080
      SOCIAL_SERVICE_URL: http://social-service:8083
    expose:
      - "8081"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  #  service-communication :
  #    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/communication-service:main-latest
  #    restart: always
  #    environment:
  #      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=communication_service
  #      SPRING_DATASOURCE_USER: user
  #      SPRING_DATASOURCE_PASSWORD: password
  #
  #      SPRING_JPA_HIBERNATE_DDL_AUTO: update
  #
  #      SPRING_RABBITMQ_HOST: app-rabbitmq
  #      SPRING_RABBITMQ_PORT: 5672
  #      SPRING_RABBITMQ_USERNAME: user
  #      SPRING_RABBITMQ_PASSWORD: password
  #
  #      SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ENDPOINT_JWK_SET_URI: http://idp-keycloak:8080/auht/realms/moko/protocol/openid-connect/certs
  #    expose:
  #      - "8082"
  #    networks:
  #      - moko_backend
  #      - moko_kc
  #    depends_on:
  #      - app-postgres
  #      - app-rabbitmq
  #      - idp-keycloak

  service-social:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/social-service:main-latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=social_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      SPRING_RABBITMQ_HOST: app-rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs
    expose:
      - "8083"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-postgres
      - app-rabbitmq
      - idp-keycloak

  #  service-games:
  #    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/games-service:main-latest
  #    restart: always
  #    environment:
  #      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=games_service
  #      SPRING_DATASOURCE_USER: user
  #      SPRING_DATASOURCE_PASSWORD: password
  #
  #      SPRING_JPA_HIBERNATE_DDL_AUTO: update
  #
  #      SPRING_RABBITMQ_HOST: app-rabbitmq
  #      SPRING_RABBITMQ_PORT: 5672
  #      SPRING_RABBITMQ_USERNAME: user
  #      SPRING_RABBITMQ_PASSWORD: password
  #
  #      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs
  #    expose:
  #      - "8084"
  #    networks:
  #      - moko_backend
  #      - moko_kc
  #    depends_on:
  #      - app-postgres
  #      - app-rabbitmq
  #      - idp-keycloak

  #  service-store:
  #    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/store-service:main-latest
  #    restart: always
  #    environment:
  #      SPRING_DATASOURCE_URL: jdbc:postgresql://app-postgres:5432/moko?currentSchema=store_service
  #      SPRING_DATASOURCE_USER: user
  #      SPRING_DATASOURCE_PASSWORD: password
  #
  #      SPRING_JPA_HIBERNATE_DDL_AUTO: update
  #
  #      SPRING_RABBITMQ_HOST: app-rabbitmq
  #      SPRING_RABBITMQ_PORT: 5672
  #      SPRING_RABBITMQ_USERNAME: user
  #      SPRING_RABBITMQ_PASSWORD: password
  #
  #      SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ENDPOINT_JWK_SET_URI: http://idp-keycloak:8080/auth/realms/moko/protocol/openid-connect/certs
  #    expose:
  #      - "8085"
  #    networks:
  #      - moko_backend
  #      - moko_kc
  #    depends_on:
  #      - app-postgres
  #      - app-rabbitmq
  #      - idp-keycloak

  service-tic-tac-toe:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-service:main-latest
    restart: always
    expose:
      - "8086"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app-rabbitmq
      - idp-keycloak

  #  service-checkers:
  #    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/checkers-service:main-latest
  #    restart: always
  #    expose:
  #      - "8087"
  #    networks:
  #      - moko_backend
  #      - moko_kc
  #    depends_on:
  #      - app-rabbitmq
  #      - idp-keycloak

  # Backend apps
  app-postgres:
    image: postgres:17.7-alpine
    restart: always
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'moko'
      PGDATA: /var/lib/postgresql/data/pgdata
    networks:
      - moko_backend
    volumes:
      - moko_postgres_data:/var/lib/postgresql/data
      - ./configs/sql:/docker-entrypoint-initdb.d/

  app-rabbitmq:
    image: rabbitmq:4.2-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    networks:
      - moko_backend
    volumes:
      - moko_rabbitmq_all:/var/lib/rabbitmq/
      - moko_rabbitmq_all:/var/log/rabbitmq/

  # Backend IDP
  idp-mysql:
    image: mysql:9.5
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'keycloak'
      MYSQL_USER: 'keycloak'
      MYSQL_PASSWORD: 'password'
    volumes:
      - moko_mysql_data:/var/lib/mysql
    networks:
      - moko_kc

  idp-keycloak:
    image: quay.io/keycloak/keycloak:26.4
    restart: always
    environment:
      KC_HOSTNAME: localhost
      KC_HTTP_RELATIVE_PATH: /auth
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME_STRICT: "true"
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: 8080

      KC_BOOTSTRAP_ADMIN_USERNAME: 'admin'
      KC_BOOTSTRAP_ADMIN_PASSWORD: 'admin'

      KC_DB: 'mysql'
      KC_DB_URL_HOST: 'idp-mysql'
      KC_DB_URL_DATABASE: 'keycloak'
      KC_DB_USERNAME: 'keycloak'
      KC_DB_PASSWORD: 'password'
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./configs/keycloak-import:/opt/keycloak/data/import
    expose:
      - "8080"
    depends_on:
      - idp-mysql
    networks:
      - moko_kc

volumes:
  moko_postgres_data:
  moko_rabbitmq_all:
  moko_mysql_data:

networks:
  moko_kc:
    name: moko-kc-network
    driver: bridge
  moko_backend:
    name: moko-back-network
    driver: bridge
  moko_frontend:
    name: moko-front-network
    driver: bridge