name: moko_prod_local

services:
  # Proxy
  proxy:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./configs/proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - moko_frontend
      - moko_backend
      - moko_kc
    depends_on:
      - frontend_platform
      - service_user
      - service_session
      - service_social

  # Frontend
  frontend_platform:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/platform-frontend:main-latest
    restart: always
    expose:
      - "80"
    networks:
      - moko_frontend

  # Backend Services
  service_user:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/user-service:main-latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app_postgres:5432/moko?currentSchema=user_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_RABBITMQ_HOST: app_rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://idp_keycloak:8080/realms/moko
      SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ENDPOINT_JWK_SET_URI: http://idp_keycloak:8080/realms/moko/protocol/openid-connect/certs
    expose:
      - "8080"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app_postgres
      - app_rabbitmq
      - idp_keycloak

  service_session:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/session-service:main-latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app_postgres:5432/moko?currentSchema=session_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_RABBITMQ_HOST: app_rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://idp_keycloak:8080/realms/moko
      SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ENDPOINT_JWK_SET_URI: http://idp_keycloak:8080/realms/moko/protocol/openid-connect/certs
    expose:
      - "8081"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app_postgres
      - app_rabbitmq
      - idp_keycloak

  service_social:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/social-service:main-latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://app_postgres:5432/moko?currentSchema=social_service
      SPRING_DATASOURCE_USER: user
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_RABBITMQ_HOST: app_rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://idp_keycloak:8080/realms/moko
      SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ENDPOINT_JWK_SET_URI: http://idp_keycloak:8080/realms/moko/protocol/openid-connect/certs
    expose:
      - "8083"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app_postgres
      - app_rabbitmq
      - idp_keycloak

  service_tic_tac_toe:
    image: registry.gitlab.com/kdg-ti/integratieproject-j3/teams-25-26/team22/tic-tac-toe-service:main-latest
    restart: always
    expose:
      - "8086"
    networks:
      - moko_backend
      - moko_kc
    depends_on:
      - app_postgres
      - app_rabbitmq
      - idp_keycloak

  # Backend apps
  app_postgres:
    image: postgres:17.7-alpine
    restart: always
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'moko'
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - '5443:5432'
    networks:
      - moko_backend
    volumes:
      - moko_postgres_data:/var/lib/postgresql/data
      - ./configs/sql:/docker-entrypoint-initdb.d/

  app_rabbitmq:
    image: rabbitmq:4.2-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - moko_backend
    volumes:
      - moko_rabbitmq_all:/var/lib/rabbitmq/
      - moko_rabbitmq_all:/var/log/rabbitmq/

  # Backend IDP
  idp_mysql:
    image: mysql:9.5
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'keycloak'
      MYSQL_USER: 'keycloak'
      MYSQL_PASSWORD: 'password'
    ports:
      - '3307:3306'
    volumes:
      - moko_mysql_data:/var/lib/mysql
    networks:
      - moko_kc

  idp_keycloak:
    image: quay.io/keycloak/keycloak:26.4
    environment:
      KEYCLOAK_ADMIN: 'admin'
      KEYCLOAK_ADMIN_PASSWORD: 'admin'
      KC_DB: 'mysql'
      KC_DB_URL_HOST: 'idp_mysql'
      KC_DB_URL_DATABASE: 'keycloak'
      KC_DB_USERNAME: 'keycloak'
      KC_DB_PASSWORD: 'password'
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./configs/keycloak-import:/opt/keycloak/data/import
    expose:
      - "8080"
    depends_on:
      - idp_mysql
    networks:
      - moko_kc

volumes:
  moko_postgres_data:
  moko_rabbitmq_all:
  moko_mysql_data:

networks:
  moko_kc:
    name: moko-kc-network
    driver: bridge
  moko_backend:
    name: moko-back-network
    driver: bridge
  moko_frontend:
    name: moko-front-network
    driver: bridge